@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  --tw-border-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-border-opacity));
  overflow-x: hidden;
}
.main-container {
  width: 100%;
  height: 100vh;
  font-family: "Poppins";
  flex-direction: column;
  position: absolute;
  margin: 10px;
  background: url("aveng.jpeg") no-repeat center/cover;
}
.main-container::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0.1;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 120px 100px 250px #000000;
}
.movie {
  position: relative;
  z-index: 2;
  margin-top: 10%;
  margin-left: 10%;
  background-image: linear-gradient(to right, rgb(0, 255, 8), yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.sub-container {
  position: relative;
  z-index: 1;
}
.heart1 {
  display: inline-flex;
  justify-content: flex-end;
  gap: 280px;
}
.card {
  position: absolute;
  z-index: 2;
  margin-top: -10%;
  background-color: aliceblue;
}
.video {
  position: absolute;
  z-index: 2;
  margin-left: 30%;
  margin-top: -10%;
}
.video {
  position: absolute;
  z-index: 2;
}
